:root {
    --text-primary: #000000;     /* warna teks utama = hitam */
    --text-secondary: #222222;   /* warna teks sekunder = hitam gelap */
    --accent: #dba895;
    --accent-opacity: #0702012a;
    --bg-color: #000000;
    --elevation-one: #000000;
    --elevation-two: #000000;
    --elevation-three: #1e1a1a;
    --elevation-four: #0000003a;
    --elevation-five: #000000;
    --elevation-six: #0a0808bb;
}
